html {
	scroll-behavior: smooth;
}

/* proprietà raccomandata da W3S per fare sì che il mio calcolo di padding e width-height varie sia "effettivamente" tale */
* {
  box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #F0E8DB;
	font-family: Inter, Arial, sans-serif;
	color: #4D3524;
}

.testata {
	background-image: linear-gradient(rgba(45, 45, 45, 0.5)), url(../images/backgroundCatalogo.png);
	background-position: center top;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin: 0;
	width: 100%;
	font-family: Inter, Arial, sans-serif;
	text-shadow: 5px 4px 7px rgba(0,0,0,0.35);
}

.sideNavbar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #D2BA93;
	overflow-x: hidden;
	transition: 0.4s;
	padding-top: 20px;
}

.sideNavbar a {
	text-decoration: none;
	padding: 8px 8px 8px 32px;
	font-size: 24px;
	font-weight: bold;
	color: #4D3524;
	display: block;
	transition-duration: 0.2s;
}

.sideNavbar a:hover {
	color: #F1F1F1;
}

.sideNavbar .closeButton {
	position: absolute;
	top: 15px;
	right: 25px;
	margin-left: 50px;
	font-size: 48px;
	color: #4D3524;
	background: none;
	border: none;
	transition-duration: 0.2s;
}

.sideNavbar .closeButton:hover {
	color: #F1F1F1;
}

.sideNavbar .activeNav {
	color: #F1F1F1;
}

#main {
	transition: margin-left 0.5s;
	padding: 16px;
}

.positionContainer {
	padding: 20px 20px;
}

.navigazione {
	float: left;
}

.navigazione span {
	background-color: #C3B0A1;
	color: #F0E8DB;
	padding: 6px 8px;
	transition-duration: 0.3s;
}

.navigazione span:hover {
	background-color: #F0E8DB;
	color: #4D3524;
	padding: 6px 8px;
	transition-duration: 0.3s;
	cursor: pointer;
}

.breadcrumb {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	float: right;
	background-color: #F4F1EA;
	display: inline-block;
	border-radius: 12px;
	font-size: 18px;
	padding: 15px 40px;
	transition-duration: 0.4s;
}

.breadcrumb:hover {
	box-shadow: 0 4px 12px rgba(61, 49, 29, 0.1);
}

.breadcrumb li {
	display: inline;
}

.breadcrumb a {
	text-decoration: none;
	color: #4D3524;

}

.tableBox {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 4%;
	margin-right: 0;
	margin-left: 0;
	display: inline-block;
	background-color: #F0E8DB;
	text-align: center;
}

.tableBox table {
	margin: 0 3%;
}

.tableBox td {
	font-weight: normal;
}

.tableBox tr {
	transition-duration: 0.1s;
}

.tableBox tr:hover {
	background-color: #E1D3C6;
}

.tableBox thead {
	background-color: #C3B0A1;
}

.tableBox thead tr:hover {
	background-color: #C3B0A1;
}

.tableBox thead th {
	font-weight: bold;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;/*per non avere i bordi doppi, come indicato su W£S*/
	padding: 5px 8px;
}

.tableBox a {
	text-decoration: none;
	color: #4D3524;
}

.tableBox button {
	float: right;
	border: none;
	background-color: #C3B0A1;
	color: #4D3524;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 8px;
	margin-top: 30px;
	margin-right: 3%;
	cursor: pointer;
	transition-duration: 0.4s;
}

.tableBox button:hover {
	box-shadow: 0 4px 12px rgba(61, 49, 29, 0.1);
}

footer {
	clear: both;
}

.lastFooter {
  background-image: linear-gradient(rgba(45, 45, 45, 0.7)), url(../images/fondoPagina.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin:0;
  color: #E6E6E6;
  text-align:center;
  text-decoration: none;
  font-family: Inter, Arial, sans-serif;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

footer a {
  color: #E6E6E6;
  text-decoration: none;
}